
@font-face {
    font-family: 'Iosevka-Glitchcomet';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('./assets/iosevka-glitchcomet-regular.woff2') format('woff2'),
         url('./assets/iosevka-glitchcomet-regular.ttf') format('truetype');
}

:root {
}

html {
    font-family: 'Iosevka-Glitchcomet', monospace;
}

body {
    overscroll-behavior-y: contain;
}


.reset-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
}


#fps {
    position: fixed;
    top: 0;
    right: 0;
    padding: min(20px, 2vmin);
    font-size: min(12px, 2vmin);
    color: #9299b1;
}

#content {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: min(30px, 5vmin);
}

#content h1 {
    margin: 0;
    color: #9299b1;
    /* font-size: 20px; */
}

#content nav {
    color: #aeaebe;
}

#content button {
    text-decoration: underline;
}


#controls {
    position: fixed;
    left: 0;
    top: 0;
    padding: min(30px, 5vmin);
    width: 100%;
    height: 100%;
    z-index: -10;
    color: #aeaebe;
    opacity: 1;
}

#controls ul {
    list-style-type: "- ";
}

#controls h3 {
    margin-bottom: 4px;
}

#controls p {
    margin-top: 0px;
    font-size: 12px;
}

.fade-out {
    transition: opacity 3s ease-out;
    opacity: 0 !important;
}


#about {
    position: fixed;
    left: 0;
    top: 0;
    padding: 5vmin;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    color: #aeaebe;
    background-color: black;
}

#about ul {
    list-style-type: "- ";
}

#about h1, #about h2, #about h3 {
    color: white;
}

#about a {
    color: #3b87c4;
}

/* @media only screen and (max-width: 900px) { */
/*     #content a { */
/*         font-size: 14px; */
/*     } */
/* } */
